<!DOCTYPE html>
<html lang="en">
<head>
  <title>Machine Learning DTU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <style>
    .carousel-inner img {
      width: 100%;
      height: 50%;
  }
  </style>
</head>
<body>

<div class="container-fluid" style="background-color:#404046;padding-top:40px;padding-bottom:40px">
   <center><h2 style="font-family: BELL MT; color:white"> International Conference on Machine Learning and Data Analytics </h2>
           <h3 style="font-family: BELL MT; color:white"> (ICMLDA 2019) </h3>
		   <h4 style="font-family: BELL MT; color:white"> 16-18 October 2019 </h4>
</div>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav" style="padding-left:205px">
    <li class="nav-item active">
      <a class="nav-link" href="MLWeb.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#1">Important Dates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#2">Advisory Committee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#3">Contact Information</a>
    </li>
	<li class="nav-item">
	  <a class="nav-link" href="#3">Venue</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="#4">Paper Submission</a>
	</li>
  </ul>
</nav>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
	<li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="laptop.jpg" alt="DTU A">
    </div>
    <div class="carousel-item">
      <img src="dtu2.jpeg" alt="DTU B">
    </div>
    <div class="carousel-item">
      <img src="dtu1.jpg" alt="DTU C">
    </div>
	<div class="carousel-item">
      <img src="yuvaan.jpg" alt="DTU D">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>


 <div class="row">
   <div class="col-sm-2">
   </div>
   <div class="col-sm-8">
    <center><h1 style="font-family:BELL MT; padding-top:20px;"> ABOUT CONFERENCE </h1>
	<h4 style="font-family:BELL MT;">Machine learning is an emerging area in research due to its application in diverse research areas. 
	                                The machine learning techniques can be applied to various areas in computer science. 
	                                The International Conference on Machine Learning and Data Analytics (ICMLDA 2019)
	will provide a wide platform to facilitate researchers from academia, industry and government organization to share their novel ideas.
	This conference aims to provide an international forum for contemplating the interdependent and inter-disciplinary research ideas for enhanced quality work on information processing. 
	Thus, we welcome diverse innovative ideas towards the furtherance of this aim.</h4></center><br>
	<div class="col-sm-2"></div></div>
	<div class="row">
	<div class="col-sm-4">
	<center> <img src="ml.png" class="rounded" alt="ML">
	<h3 style="font-family:BELL MT; padding-top:20px;">MACHINE LEARNING ALGORITHMS </h3>
	  <h5 style="font-family:BELL MT">  <li> Neural Networks and Learning Systems
                                            <li>  Convolutional Neural Networks
                                            <li>     Ensemble Learning
                                            <li>      Decision Trees
                                            <li>     Rule Based Learning
                                            <li>       Bayesian Learning
                                            <li>     Support Vector Machines</div></center>
 </h5><div class="col-sm-4">
     <center> <img src="data.jpg" class="rounded" alt="DA">
	 <h3 style="font-family:BELL MT; padding-top:20px;"> DATA ANALYTICS & PREDICTIVE MODELING </h3>
	  <h5 style="font-family:BELL MT">  <li> Data Preprocessing
                                            <li> Data and Information Quality
                                            <li> Data Visualizations
                                            <li> Attribute Reduction
                                            <li> Uncertain and missing data handling
                                            <li> Statistical Analysis
                                            <li> Model Selection
											<li> Model Validation
											<li> Statistical inference and probabilistic modelling
											<li> Statistical Tests</div></center>
 </h5><div class="col-sm-4">
	 <center> <img src="icon.jpg" class="rounded" alt="EC">
	 <h3 style="font-family:BELL MT; padding-top:20px;"> EVOLUTIONARY COMPUTING </h3>
	 <h5 style="font-family:BELL MT">       <li> Genetic Algorithms
                                            <li> Nature Inspired Algorithms
                                            <li> Hybrid Algorithms</h5></div></center></div><br>
		<div class="row">
		<div class="col-sm-6">
	  <center> <img src="dl.jpg" class="rounded" alt="DL">
	  <h3 style="font-family:BELL MT; padding-top:20px;"> DEEP LEARNING </h3>
	  <h5 style="font-family:BELL MT">
	                                <li> Inference Dependencies on Multi-layered Networks
									<li> Recurrent Neural Networks
									<li> Tensor Learning
									<li> Self-organizing Networks
									<li> Multi-scale Learning</center>
	  </h5></div>
	   <div class="col-sm-6"><center> <img src="app.png" class="rounded" alt="app">
	   <h3 style="font-family:BELL MT; padding-top:20px;"> APPLICATIONS </h3>
	  <h5 style="font-family: BELL MT;">
	                                <li> Data Mining Models
									<li> Software Engineering
									<li> Software Testing
									<li> Web mining
									<li>    Biomedical Data Mining
                                    <li>     Visual Data Mining
                                    <li>Knowledge Engineering and Management
                                    <li>Intelligent Information Retrieval System
                                    <li>Quality Metrics
                                    <li>Dynamic Data Management
                                    <li>Semantic Web Engineering
                                     <li>Statistical and Machine Learning Methods in Data Mining
                                    <li>Ontology Engineering
                                    <li>Query Processing and Optimization

	  </h5><center></div>
	 <div id="1" class="row"><div class="col-sm-2"></div><div class="col-sm-8"><br><br>
	   <h4 style="font-family: BELL MT;"><center> IMPORTANT DATES :</center> </h4> 
	   <table class="table table-striped">
    <tbody>
      <tr>
        <td>Deadline for full paper submission in IEEE Format </td>
        <td>25th APRIL 2019</td>
      </tr>
       <tr>
        <td>Notification of paper acceptance </td>
        <td>30th JULY 2019</td>
      </tr>
	  <tr>
        <td>Camera ready paper submission </td>
        <td>12th AUG 2019</td>
      </tr>
	  <tr>
        <td>Author registration </td>
        <td>23RD SEPT 2019</td>
      </tr>
	  <tr>
        <td>General registration </td>
        <td>3OTH SEPT 2019</td>
      </tr>
	  <tr>
	     <td> Conference Dates </td>
		 <td> 9-11 OCT 2019 </td>
    </tbody>
  </table><br><h3 id="4" style="font-family:BELL MT; padding-top:20px;"><center> PAPER SUBMISSION</center> </h3>
	  <h5 style="font-family:BELL MT;">The paper will be submitted through Microsoft CMT which has its own similarity checker for plagiarism.
	  The similarity score will be kept as per international norms (below 15%). The papers will be reviewed thoroughly.
	  Each paper will be reviewed at least by 3 reviewers from the same area for making the review process fair.</h5>
	  <br><br>
  
  </div><div class="col-sm-2"></div><br>
	  
   
     <div id="2" class="container-fluid" style="background-color:#F2F2F3;"><br>
	 <center> <h3 style="font-family:BELL MT;"> International Advisory Community</h3> </center>
	  <div class="row">
	    <div class="col-sm-6">
	      <h6>  <center>1)	Prof. Santanu Chaudhury, IIT Delhi, India<br>
2)	Prof. Bhabatosh Chanda, ISI Kolkata, India<br>
3)	Prof. Sushmita Mitra, ISI Kolkata, India<br>
4)	Dr. Bimlesh Wadhawa, NUS, Singapore<br>
5)	Dr. Noboru Matsuda, Carnegie Mellon University, USA<br>
6)	Prof. Dominik Slezak, International Rough Set Society<br>
7)	Dr. Salvatore Vitabile, University of Palermo, Italy<br>
8)	Prof. Valentina Emilia Balas, Faculty of Engineering, Romania<br>
9)	Prof. Anca Ralescu, University of Cincinnati, USA<br>
10)	Prof. Zhihua Cui, Taiyuan University of Science and Technology, China<br>
11)	Dr. Reiner Dumke, NTU, Singapore<br>
12)	Prof. Ashok Deshpande, Initiative in Soft computing, Berkley, USA<br>
13)	Mr. Uday Singh, Sr. Software Engineer at Lab126,California, USA<br>
14)	Prof. Francisco Luiz de Lemos<br>
15)	Dr. Rehan Sadiq, University of British Columbia Kelowna unit, Canada<br>
16)	Prof. Vijay Kumar, issouri State University, USA<br>
17)	Dr. Kedar Rijal, Tribhuvan University, Nepal<br>
18)	Prof. Pankaj Jalote, IIIT Delhi </h6></center>

		</div>
		<div class="col-sm-6"><h6><center>
		19)	Prof. R.K Singh, IGDTUW, India<br>
20)	Prof. Arvinder Kaur, GGSIPU, India<br>
21)	Prof. Mini Thomas, Jamia Milia Islamia<br>
22)	Prof. Bhim Singh, IITD<br>
23)	Dr. Pradeep K. Atrey, State University of New York<br>
24)	Prof. M. Hanmandlu, IIT Delhi, India<br>
25)	Prof. Prem K Kalra, IIT Delhi, India<br>
26)	Dr. Narendra S. Chaudhari, VNIT Nagpur, India<br>
27)	Dr. Manoj Singh Gaur, MNIT Jaipur, India<br>
28)	Dr. Mahesh Chandra Govil, MNIT Jaipur, India<br>
29)	Prof. Subhasis Chaudhari, IIT Bombay, India<br>
30)	Prof. K. Rajagopal, IIT M,India<br>
31)	Prof. A. G. Ramakrishnan, IISC Bangalore, India<br>
32)	Dr. C. V. Jawahar, IIIT Hydrabad, India<br>
33)	Prof. P. J.Narayanan, IIIT Hydrabad, India<br>
34)	Prof. Shantaram Vasikarla, USA<br>
35)	Prof. Manoj Mishra, IIT Roorkee, India<br>
36)	Prof. K. K. Biswas, IIT Delhi, India<br>
       </h6></center>
		</div>
	 </div><br><br><br>
	 <div id="3" class="jumbotron jumbotron-fluid" style="background-color:#3B3B3B;">
	   <div class="row">
	     <div class="col-sm-6"> 
		  <center><p style="color:#CDCACA;">   
		  <b> VENUE </b><br>
		    Delhi Technological University, Shahbad Daulatpur, Bawana Road, Delhi, India <br><br>
			<b>University Website : <a href="http://www.dtu.ac.in/">www.dtu.ac.in </a><br>
			Organizing Committee : <br><br>
			Patron:<br>
			Prof. Yogesh Singh</b><br>
			Vice Chancellor, DTU<br><br>
			<b> General Chair <br>
			 Prof. Rajni Jindal<br>
			</b>
			HOD, CSE, DTU<br><br>
			<b>Organizing Chair & Technical Program Chair<br>
			Dr. Ruchika Malhotra
			</b><br>
			Associate Professor, CSE, DTU
			
		  </p></center>
		  </div>
		<div class="col-sm-6">
		   <center><p style="color:#CDCACA;">
		   <b> CONTACT INFORMATION <br><br>
		    	Name: Dr. Ruchika Malhotra<br>
				Email: ruchikamalhotra@dtu.ac.in<br>
				Tel / Mo: 9910290445<br>
				Address: Associate Professor, CSE Department, DTU, Delhi
		   </p></center></b>
		</div>
	   </div>
	 </div>
</body>